MONGO_URI=aapka_url
JWT_SECRET_KEY="tera_mera_password123"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
GEMINI_API_KEY=aapka_key
GEMINI_API_KEY_2=aapka_key2
YOUTUBE_API_KEY=aapka_yt_key
GROQ_API_KEY=aapka_groq_key